/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------ACCEUIL--------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  h1{
      text-align: center;
  }

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------CONTACT----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/
.ContainerContact{  /* container contact */
	max-width: 47%; /* Taille max du container */
	margin: 10px ; /* espacement de 10 px en hauteur */
	padding: 1em; /* Espacement entre le container et la zone de texte*/
	background: #f4f7f8; /* Courleur du fond */
    border-radius: 8px; /* angles arrondi */
    font-family: Verdana, "Verdana", Times, serif; /* style d'écriture */
    width: 100%; /* la div prend 100% de la place*/
}

.ContainerContact p { /* container des champs du formulaire*/
    width: 100%; /* taille du champs*/
    padding: 0.2em; /* espacement*/
    margin: 8px 0; /* marge*/
    border: 1px solid #ccc; /* bordures*/
    border-radius: 8px; /* angles arrondi*/
    resize: none; /* bloque la redimention de la zone de texte*/
}

.ContainerMaps{
    max-width: 100%; /* Taille max du container */
    font-family: Verdana, "Verdana", Times, serif; /* style d'écriture */
    margin:1em; /* marges à droite */
    text-align:center;
}


/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------RECHERCHE PATHO--------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
body, h2, p, div, section {
    margin: 0;
    padding: 0;
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
}

#accueil h1 {
    margin-left: auto;
    margin-right: auto;
}

.pagePatho h2 {
    font-size: 2em;
    color: blanchedalmond;
}

a,
li {
    color: blanchedalmond; 
}

#grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 10px;
    margin: 0 5%;
}

.grid-item img{
    max-width: 200%;
    height: auto;
}

.pagePatho {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}

#recherche {
    background-image: url("");
    max-width: 100%;
    max-height: 100%;
}

#recherche h1,h2{
    color: blanchedalmond;
}

#pathoMeridien {
    background-image: url("");
    max-width: 100%;
    max-height: 100%;
}

#pathoOrgane {
    background-image: url("");
    max-width: 100%;
    max-height: 100%;
}

#pathoTendino {
    background-image: url("");
    max-width: 100%;
    max-height: 100%;
}

#pathoBranche {
    background-image: url("");
    max-width: 100%;
    max-height: 100%;
}

#pathoVaisseaux {
    background-image: url("");
    max-width: 100%;
    max-height: 100%;
}
*/

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------NAVIGATION-------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/
.navbar ul {
    /* padding: 0px; */
    text-align: center;
    list-style-type: none;
}

.navbar li {
    border-right: 1px solid #bbb;
    display: inline-block;
    min-width: 200px;
    color: #000;
}

.navbar a {
    color: rgb(0, 0, 0);
    font-size: 14px;
}
.navbar img {
    width: 96px;
    height: inherit;
    margin-left: inherit;
    margin-right: inherit;
}

.navbar {
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: #000;
    display: flex;
    max-height: 60px;
    width: 100%;
    justify-content: left;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
}

.active {
    background-color: #838683;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------FOOTER---------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/


footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
    position:absolute;   /*maintient le foooter en bas */
  }
  
  .contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;    /*taille police */
    padding: 10px 0 15px; /*marges */
  }
  
  .bloc {
    width: 25%;
    margin: 0 30px;
  }
